*,*:before,*:after{
    box-sizing: border-box;
}
body{
    font-family: Arial;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.calendar-title{
    font-size: 30px;
    text-align: center;
}
.calendar-text{
    font-size: 18px;
    text-align: center;
}
.calendar-select{
    margin: 50px 0;
}
.calendar-subtitle{
    text-align: center;
    font-size: 16px;
}
.calendar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
.calendar-btn{
    margin: 0 5px;
    padding: 5px 10px;
    background: transparent;
    cursor: pointer;
    position: relative;
}
.calendar-btn.active:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid;
}
.calendar-btn__1{
    color: #2D6B5F;
    border: 1px solid #2D6B5F;
}
.calendar-btn__2{
    color: #72E3A6;
    border: 1px solid #72E3A6;
}
.calendar-btn__3{
    color: #A29E9F;
    border: 1px solid #A29E9F;
}
.calendar-btn__4{
    color: #EDBF98;
    border: 1px solid #EDBF98;
}
.calendar-btn__5{
    color: #EA3D36;
    border: 1px solid #EA3D36;
}
.calendar-subtext{
    text-align: center;
    font-size: 16px;
}
.calendar{
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.calendar-mounth{
    width: 33%;
    padding: 0 20px;
    margin-bottom: 40px;
}
.calendar-mounth__title{
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}
.calendar-mounth__weeks{
    display: flex;
    justify-content: space-between;
}
.week_days{
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
    height: calc(100% / 7);
    width: calc(100% / 7);
}
.calendar-mounth__days{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.calendar-mounth__day-wrap{
    height: calc(100% / 7);
    width: calc(100% / 7);
    margin-top: 10px;
}
.calendar-mounth__day{
    height: calc(100% / 7);
    width: calc(100% / 7);
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}
.calendar-mounth__day .circle{
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 20px;
    height: 20px;
}
